body{

     margin: 0;
     background: url('../bg.jpg');
     background-size: cover;
     background-repeat:no-repeat;
    display: compact;

}
.container{
	background-color: white;
		border: 0px;
	border-radius: 5px;
	margin: 0px 10% 0px 10%;
		width: 80%;
		height: auto;

}
.navbar-custom {
    background-color:#f9f9f9;
    color:blue;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:blue;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color:blue ;
    background-color:#ececec;
}
.navbar-custom .navbar-brand {
    color:blue;
}
.row{
  padding: 10px;
}
#map {
       width: 100%;
       height: 400px;
       background-color: grey;
     }
