body{

	background-color: black;

}
.container{
	background-color: white;
		border: 2px solid red;
	border-radius: 5px;
	margin: 0px 10% 0px 10%;
		width: 80%;
		height: 100%;

}
   .banner{
   	border-radius: 5px 5px 0px 0px;
   	border: 1px solid blue;
   	height: 100px;
   	width: 102.43%;
   	margin: 0px 0px 0px -15px;
   	background-color: blue;
}