html
  head
    // Meta section
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Link Section
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body
    .main
      .container
        .paragraphs
          .row(style='padding: 10px;')
            .span4
              .clearfix.content-heading
                img.pull-left(src='al.jpg', style='margin-right: 30px;')
                h3(style='font-family: Palatinos;') American Legion 
                h3(style='font-family: Palatinos;') Post 80 Binghamton, NY
              nav.navbar.navbar-custom
                .container-fluid.row
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='index.html')
                          | Home
                      li.active
                        a(href='contact.html') Contact Us
                          span.sr-only (current)        
         .body
          #map
          script.
            var map;
            function initialize() {
            var map = new google.maps.Map(document.getElementById('map'), {zoom: 15});
            var geocoder = new google.maps.Geocoder;
            geocoder.geocode({'address': '76 Main St, Binghamton, NY 13905'}, function(results, status) {
            if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
            });
            } else {
            window.alert('Geocode was not successful for the following reason: ' +
            status);
            }
            });
            }
          .row
            .col-md-1
            .col-md-11(style=" padding-top: 50px; ")
              h4 Open: mon-fri 1pm till 2pm
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA1UcqymFxJHsLMeAtcFYAQv5sZ6zl2OQI&callback=initialize')
