html
  head
    // Meta section
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Link Section
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body
    .main
      .container
        .paragraphs
          .row(style='padding: 10px;')
            .span4
              .clearfix.content-heading
                img.pull-left(src='al.jpg', style='margin-right: 30px;')
                h3(style='font-family: Palatinos;') American Legion 
                h3(style='font-family: Palatinos;') Post 80 Binghamton, NY
              nav.navbar.navbar-custom
                .container-fluid.row
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li
                        a(href='index.html')
                          | Home
                      li.active
                        a(href='event.html') Events
                          span.sr-only (current)  
                      li 
                       a(href='contact.html') Contact Us
         .body
           table.table.table-reflow
                 thead
                   tr
                     th Sunday
                     th Monday
                     th Tuesday
                     th Wednesday
                     th Thursday
                     th Friday
                     th Saturday
                 tbody
                   tr
                     th(scope='row') 
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                   tr
                     th(scope='row') 
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                   tr
                     th(scope='row') 
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
                     td Table cell
