html
  head
    // Meta section
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Link Section
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
  body
    .main
      .container
        .paragraphs
          .row(style='')
            .span4
              .clearfix.content-heading
                img.pull-left(src='al.jpg', style='margin-right: 30px;')
                h3(style='font-family: Palatinos; padding-bottom: -10px; ') American Legion 
                h3(style='font-family: Palatinos;') Post 80 Binghamton, NY
              nav.navbar.navbar-custom
                .container-fluid.row
                  #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                      li.active
                        a(href='index.html')
                          | Home
                          span.sr-only (current)
                      li
                        a(href='contact.html') Contact Us
          .body  
            #content-slider
              #slider
                #mask
                  ul
                    li#first.firstanimation
                      a(href='#')
                        img(src='test.jpg', alt='Cougar')
                      .tooltip
                        h1 Cougar
                .progress-bar

              .row
                .col-md-4
                  h1 Header
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                .col-md-8
                  h1 Header
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                br
                .row
                  .col-md-8
                    h1 Header
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                  .col-md-4
                    h1 Header
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                  br
                  .row
                    .col-md-6
                      h1 Header
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                    .col-md-6
                      h1 Header
                      p
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    
